[run]
# enable branch coverage in addition to statement coverage
branch = True
parallel = True

omit =
  */tests/*
  */python?/*
  */python?.?/*
  */site-packages/*
  */dist-packages/*

[report]
exclude_lines =
  pragma: no cover
